.filter__box {
    background-color: #c5c5c5;
    padding: 2rem;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
}

.filter__item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 15px;
}

.category-select_container {
    width: 300px;
}

.filter__box label {
    color: #1b1b1b;
    font-weight: 500;
}