.typeahead__input {
    width: 200px;
}

.dropdown_list {
    position: absolute;
    display: block;
    max-height: 300px;
    overflow: auto;
    transform: translate(12px, 38px);
    padding: .5rem;
    float: left;
    min-width: 15rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    font-weight: 400;
}

.dropdown_list ul {
    list-style-type: none;
    padding-inline-start: 12px;
}

.dropdown_list li {
    cursor: pointer;
    padding: 6px;
}

.dropdown_list li:hover {
    background-color: beige;
}

.hidden {
    display: none;
}